:root {
  --background: 48 24% 94%;
  --foreground: 48 18% 7%;
  --card: 48 30% 98%;
  --card-foreground: 48 18% 7%;
  --popover: 48 30% 98%;
  --popover-foreground: 48 18% 7%;
  --primary: 231 72% 45%;
  --primary-foreground: 48 30% 98%;
  --secondary: 45 18% 90%;
  --secondary-foreground: 48 14% 20%;
  --muted: 45 18% 90%;
  --muted-foreground: 43 8% 45%;
  --accent: 44 24% 91%;
  --accent-foreground: 48 18% 12%;
  --destructive: 0 72% 45%;
  --destructive-foreground: 0 0% 98%;
  --border: 44 20% 83%;
  --input: 44 20% 83%;
  --ring: 231 72% 45%;
  --radius: 0.75rem;
}
.dark {
  --background: 225 14% 6%;
  --foreground: 45 16% 91%;
  --card: 224 16% 9%;
  --card-foreground: 45 16% 91%;
  --popover: 224 16% 9%;
  --popover-foreground: 45 16% 91%;
  --primary: 231 100% 75%;
  --primary-foreground: 225 20% 10%;
  --secondary: 225 14% 13%;
  --secondary-foreground: 45 12% 85%;
  --muted: 225 14% 12%;
  --muted-foreground: 225 6% 55%;
  --accent: 225 16% 15%;
  --accent-foreground: 45 16% 91%;
  --destructive: 0 63% 50%;
  --destructive-foreground: 0 0% 98%;
  --border: 228 12% 16%;
  --input: 228 12% 16%;
  --ring: 231 100% 75%;
}
